body {
  background-image: url("./images/avsig2.JPG");
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  color: white;
}
p {
  color: black;
}
.icon-bar {
  width: 90px;
  background-color: #555;
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
}

.icon-bar a:hover {
  background-color: #000;
}

.active {
  background-color: #4CAF50;
}

p.one {
  height: 100px;
  width: 500px;
  position: absolute;
  left: 65%;
  margin-left: -50px;
  top: 60%;
  margin-top: -50px;
  text-align: center;
  opacity: .6;
  font-weight: bold;

}