body {
  background: url("./images/avninosig.JPG") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1 {
  color: white;
}
p {
  color: black;
}
.icon-bar {
  width: 90px;
  background-color: #555;
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
}

.icon-bar a:hover {
  background-color: #000;
}

.active {
  background-color: #4CAF50;
}



p.one {
  height: 100px;
  width: 500px;
  position: absolute;
  left: 65%;
  margin-left: -50px;
  top: 55%;
  margin-top: -50px;
  text-align: center;
  opacity: .6;
  font-weight: bold;

}

p.sig {
  position: absolute;
  left: 6%;
  top: 35%;
  text-align: center;

}

@media only screen and (max-width: 768px) {
  p.one {
    height: 100px;
      width: 500px;
      position: absolute;
      left: 10%;
      margin-left: -50px;
      top: 98%;
      margin-top: -50px;
      text-align: center;
      opacity: 1;
      font-weight: bold;
  }

  p.sig {
    position: absolute;
    left: 5%;
    top: 1%;
    width:50%
    height:50%
    text-align: center;

  }

}
